In [2]:
from pandas import read_csv, DataFrame
import numpy as np

data: DataFrame = read_csv("class_ny_arrests.csv",index_col="ARREST_KEY", na_values={"", "UNKNOWN"})

In [3]:
data.head()

,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
ARREST_KEY,,,,,,,,,,,,,,,,,
32311380,06/18/2007,511.0,"CONTROLLED SUBSTANCE, POSSESSION 7",235.0,DANGEROUS DRUGS,PL 2200300,M,Q,27,1.0,18-24,M,BLACK,NaN,NaN,NaN,NaN
192799737,01/26/2019,177.0,SEXUAL ABUSE,116.0,SEX CRIMES,PL 1306503,F,M,25,0.0,45-64,M,BLACK,1000555.0,230994.0,40.800694,-73.941109
193260691,02/06/2019,NaN,NaN,NaN,NaN,PL 2203400,F,M,14,0.0,25-44,M,NaN,986685.0,215375.0,40.757839,-73.991212
149117452,01/06/2016,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,67,0.0,25-44,M,BLACK,998032.0,175598.0,40.648650,-73.950336
190049060,11/15/2018,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0.0,25-44,M,BLACK,1003606.0,185050.0,40.674583,-73.930222

In [4]:
def get_variable_types(df):
    return df.dtypes

# Get the variable types of the 'data' DataFrame
variable_types = get_variable_types(data)
numeric_columns = variable_types[variable_types == 'float64'].index.tolist() + variable_types[variable_types == 'int64'].index.tolist()
symbolic_columns = variable_types[variable_types == 'object'].index.tolist()

print("Numeric columns:", numeric_columns)
print("Symbolic columns:", symbolic_columns)

Numeric columns: ['PD_CD', 'KY_CD', 'JURISDICTION_CODE', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude', 'ARREST_PRECINCT']
Symbolic columns: ['ARREST_DATE', 'PD_DESC', 'OFNS_DESC', 'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE']

In [5]:
for column in symbolic_columns:
    print(f"{column}: {data[column].nunique()} unique values")

ARREST_DATE: 5844 unique values
PD_DESC: 337 unique values
OFNS_DESC: 72 unique values
LAW_CODE: 2114 unique values
LAW_CAT_CD: 2 unique values
ARREST_BORO: 5 unique values
AGE_GROUP: 87 unique values
PERP_SEX: 2 unique values
PERP_RACE: 7 unique values

In [6]:
unique_arrest_boro = data['AGE_GROUP'].unique()
print(unique_arrest_boro)

['18-24' '45-64' '25-44' '<18' '65+' '929' '944' '945' '320' '932' '894'
 '935' '934' '940' nan '339' '323' '965' '948' '946' '938' '895' '194'
 '928' '352' '943' '956' '920' '951' '708' '816' '316' '912' '237' '939'
 '947' '740' '952' '949' '338' '922' '933' '921' '1042' '2000' '1937'
 '1916' '1928' '2007' '1918' '1947' '1953' '1942' '1024' '1948' '937'
 '1922' '1048' '1018' '918' '927' '926' '931' '942' '924' '941' '930'
 '955' '936' '812' '317' '909' '923' '914' '896' '709' '640' '925' '212'
 '200' '954' '314' '723' '309' '959' '910' '446' '330']

In [7]:
# Define valid age groups
valid_age_groups = ['<18', '18-24', '25-44', '45-64', '65+']

# Replace erroneous values with NaN
data['AGE_GROUP'] = data['AGE_GROUP'].apply(lambda x: x if x in valid_age_groups else np.nan)

In [8]:
data['LAW_CAT_CD'] = data['LAW_CAT_CD'].map({'M': 0, 'F': 1})
data['PERP_SEX'] = data['PERP_SEX'].map({'M': 0, 'F': 1})
data['PERP_RACE'] = data['PERP_RACE'].map({
    'BLACK': 0,
    'WHITE': 1,
    'BLACK HISPANIC': 2,
    'WHITE HISPANIC': 3,
    'ASIAN / PACIFIC ISLANDER': 4,
    'AMERICAN INDIAN/ALASKAN NATIVE': 5
})
data['ARREST_BORO'] = data['ARREST_BORO'].map({
    'Q': 0,
    'M': 1,
    'K': 2,
    'B': 3,
    'S': 4
})

data['AGE_GROUP'] = data['AGE_GROUP'].map({
    '<18': 0,
    '18-24': 1,
    '25-44': 2,
    '45-64': 3,
    '65+': 4
})

In [9]:
variable_types = get_variable_types(data)
numeric_columns = variable_types[variable_types == 'float64'].index.tolist() + variable_types[variable_types == 'int64'].index.tolist()
symbolic_columns = variable_types[variable_types == 'object'].index.tolist()

print("Numeric columns:", numeric_columns)
print("Symbolic columns:", symbolic_columns)

Numeric columns: ['PD_CD', 'KY_CD', 'ARREST_BORO', 'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_RACE', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude', 'LAW_CAT_CD', 'ARREST_PRECINCT', 'PERP_SEX']
Symbolic columns: ['ARREST_DATE', 'PD_DESC', 'OFNS_DESC', 'LAW_CODE']

In [10]:

import pandas as pd

# Convert 'ARREST_DATE' to datetime
data['ARREST_DATE'] = pd.to_datetime(data['ARREST_DATE'])

# Extract year, month, and day as separate columns
data['ARREST_YEAR'] = data['ARREST_DATE'].dt.year
data['ARREST_MONTH'] = data['ARREST_DATE'].dt.month
data['ARREST_DAY'] = data['ARREST_DATE'].dt.day

data.drop(columns=['ARREST_DATE'], inplace=True)

In [14]:
# Convert 'PD_DESC', 'OFNS_DESC', 'LAW_CODE' to numeric
for column in ['PD_DESC', 'OFNS_DESC', 'LAW_CODE']:
    data[column] = pd.factorize(data[column])[0]
    # Verify the conversion
data.head()

,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,ARREST_YEAR,ARREST_MONTH,ARREST_DAY
ARREST_KEY,,,,,,,,,,,,,,,,,,,
32311380,511.0,0,235.0,0,0,0,0.0,27,1.0,1.0,0,0.0,NaN,NaN,NaN,NaN,2007,6,18
192799737,177.0,1,116.0,1,1,1,1.0,25,0.0,3.0,0,0.0,1000555.0,230994.0,40.800694,-73.941109,2019,1,26
193260691,NaN,2,NaN,2,2,1,1.0,14,0.0,2.0,0,NaN,986685.0,215375.0,40.757839,-73.991212,2019,2,6
149117452,153.0,3,104.0,3,3,1,2.0,67,0.0,2.0,0,0.0,998032.0,175598.0,40.648650,-73.950336,2016,1,6
190049060,157.0,4,104.0,3,4,1,2.0,77,0.0,2.0,0,0.0,1003606.0,185050.0,40.674583,-73.930222,2018,11,15

In [16]:
unique_arrest_boro = data['LAW_CODE'].unique()
print(unique_arrest_boro)

[   0    1    2 ... 2111 2112 2113]

In [17]:
data.to_csv("new_class_ny_arrests.csv", index=False)