In [5]:
from pandas import read_csv, DataFrame

data: DataFrame = read_csv("class_financial distress.csv", na_values="")

In [6]:
data.head()

,Company,Time,Financial Distress,CLASS,x1,x2,x3,x4,x5,x6,...,x74,x75,x76,x77,x78,x79,x80,x81,x82,x83
0,1,1,0.010636,0,1.2810,0.022934,0.87454,1.21640,0.060940,0.188270,...,85.437,27.07,26.102,16.000,16.0,0.2,22,0.060390,30,49
1,1,2,-0.455970,0,1.2700,0.006454,0.82067,1.00490,-0.014080,0.181040,...,107.090,31.31,30.194,17.000,16.0,0.4,22,0.010636,31,50
2,1,3,-0.325390,0,1.0529,-0.059379,0.92242,0.72926,0.020476,0.044865,...,120.870,36.07,35.273,17.000,15.0,-0.2,22,-0.455970,32,51
3,1,4,-0.566570,1,1.1131,-0.015229,0.85888,0.80974,0.076037,0.091033,...,54.806,39.80,38.377,17.167,16.0,5.6,22,-0.325390,33,52
4,2,1,1.357300,0,1.0623,0.107020,0.81460,0.83593,0.199960,0.047800,...,85.437,27.07,26.102,16.000,16.0,0.2,29,1.251000,7,27